* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
  height: 100px;
  align-items: center;
}
.nav-links {
  display: flex;
  flex-direction: row;
}

.profile {
  grid-area: profile;
  background-color: blue;
  border-radius: 50px;
  height: 288px;
}
.current-chores {
  grid-area: current-chores;
  background-color: red;
  border-radius: 50px;
  height: 472px;
}
.open-chores {
  grid-area: open-chores;
  background-color: green;
  border-radius: 50px;
  height: 810px;
}
.leader-board {
  grid-area: leader-board;
  background-color: grey;
  border-radius: 50px;
  height: 368px;
}
.chore-history {
  grid-area: chore-history;
  background-color: aqua;
  border-radius: 50px;
  height: 400px;
}
.main-grid {
  margin: 0 50px;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-rows: auto;
  grid-template-areas:
    "profile open-chores leader-board"
    "current-chores open-chores leader-board"
    "current-chores open-chores chore-history"
    "current-chores open-chores chore-history";
}
