* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.nav-font {
  font-family: Monaco;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
}
.nav-item {
  margin-left: 38px;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
  height: 100px;
  align-items: center;
}
.nav-links {
  display: flex;
  flex-direction: row;
}

.profile {
  grid-area: profile;
  border-radius: 50px;
  height: 288px;

  background: #ffffff;
  box-shadow: 10px 15px 30px 7px rgba(0, 0, 0, 0.05),
    -10px -10px 26px rgba(255, 255, 255, 0.83),
    inset 8px 9px 20px -13px rgba(0, 0, 0, 0.08);
  border-radius: 49px;
}
.current-chores {
  grid-area: current-chores;
  border-radius: 50px;
  height: 472px;

  background: #ffffff;
  box-shadow: 10.0134px 15.0201px 30.0402px rgba(0, 0, 0, 0.05),
    -10.0134px -10.0134px 26.0348px rgba(255, 255, 255, 0.83),
    inset 8px 9px 20px -13px rgba(0, 0, 0, 0.08);
  border-radius: 49.0656px;
}
.open-chores {
  grid-area: open-chores;
  border-radius: 50px;
  height: 810px;

  background: #ffffff;
  box-shadow: 10px 15px 30px 7px rgba(0, 0, 0, 0.05),
    -10px -10px 26px rgba(255, 255, 255, 0.83),
    inset 8px 9px 20px -13px rgba(0, 0, 0, 0.08);
  border-radius: 49px;
}
.leader-board {
  grid-area: leader-board;
  border-radius: 50px;
  height: 368px;

  background: #ffffff;
  box-shadow: 10px 15px 30px 7px rgba(0, 0, 0, 0.05),
    -10px -10px 26px rgba(255, 255, 255, 0.83),
    inset 8px 9px 20px -13px rgba(0, 0, 0, 0.08);
  border-radius: 49px;
}
.chore-history {
  grid-area: chore-history;
  border-radius: 50px;
  height: 400px;

  background: #ffffff;
  box-shadow: 10.0134px 15.0201px 30.0402px rgba(0, 0, 0, 0.05),
    -10.0134px -10.0134px 26.0348px rgba(255, 255, 255, 0.83),
    inset 8px 9px 20px -13px rgba(0, 0, 0, 0.08);
  border-radius: 49.0656px;
}
.main-grid {
  margin: 0 50px;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-rows: auto;
  grid-template-areas:
    "profile open-chores leader-board"
    "current-chores open-chores leader-board"
    "current-chores open-chores chore-history"
    "current-chores open-chores chore-history";
}
